# name: CI for Booking Project

# on: #когда будет работать тест? (при пуше, ветка main и после проверки кода - PR)
#   push:
#     branches: [ "main" ]
#     pull_request:

# jobs:
#   build-and-test:
#     runs-on: ubuntu-latest

#     steps:
#         # копирует репозиторий в виртуальную машину, чтобы дальше работать с кодом
#       - name: Checkout repository
#         uses: actions/checkout@v3

#       # создается образ фронта
#       - name: Build frontend Docker image
#         run: |
#           docker build -t booking-frontend ./frontend

#       # установка питона
#       - name: Set up Python
#         uses: actions/setup-python@v4
#         with:
#           python-version: "3.10"

#         # цстановка библиотек и всех зависимостей
#       - name: Install backend dependencies
#         run: |
#           pip install -r backend/requirements.txt

#       # компилирует файл питона в байт-код, чтобы проверить синтаксис
#       - name: Test backend syntax
#         run: |
#           python -m py_compile backend/app.py

#         # образ бека
#       - name: Build backend Docker image
#         run: |
#           docker build -t booking-backend ./backend

#         # завершение CI - визуально
#       - name: CI completed
#         run: echo "CI pipeline finished successfully!"



name: CI/CD

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: [self-hosted, local]  # твой локальный runner
    steps:
     
      - name: Checkout repository
        uses: actions/checkout@v3

     
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: marry-07
          password: ${{ secrets.GHCR_PAT }}

     
      - name: Build backend image
        run: |
          docker build -t ghcr.io/marry-07/tour-backend:latest ./backend

     
      - name: Build frontend image
        run: |
          docker build -t ghcr.io/marry-07/tour-frontend:latest ./frontend

  
      - name: Push Docker images
        run: |
          docker push ghcr.io/marry-07/tour-backend:latest
          docker push ghcr.io/marry-07/tour-frontend:latest

    
      - name: Deploy stack to local Swarm
        run: |
          docker stack deploy -c docker-stack.yml tourapp
 