name: CI/CD

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: [self-hosted, local]
    steps:
     
      - name: Checkout repository
        uses: actions/checkout@v3

     
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: marry-07
          password: ${{ secrets.GHCR_PAT }}
 
     
      - name: Build backend image
        run: |
          docker build -t ghcr.io/marry-07/tour-backend:latest ./backend

     
      - name: Build frontend image
        run: |
          docker build -t ghcr.io/marry-07/tour-frontend:latest ./frontend